/* first css rule */
header {
background: url(images/central_park.jpg); /*place images as background*/
height:400px; /*height of the image*/
background-size: 1500px;
background-position: 0 -200px; /*can be added after url*/
background-repeat: no-repeat; /*can be added after url*/
padding-top: 100px;
padding-left: 100px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
/* second css rule */
li{
list-style-type: none;
display: inline;
padding: 0 20px;
}
/* third css rule, contextual selector */
nav ul li a{
    text-decoration: none;
}
/* Pseudo Clss - to style text links, correspond to the mouse*/
a:link{ /* before click */
color:#000000;
}
a:visited{ /* after click */
color:#818db3;
}
a:hover{ /* mouse over */
color:#333;
}
a:active{ /* mouse down */
color:#753a30;
}
/*style the nav box*/
nav {
    background-color: rgb(255,245,238); /*rgba can add transparency*/
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
/* style the main */
main{
    
}
main h1{
    color:rgb(129, 141, 179);
    font-family: Arial, Helvetica, sans-serif;
}
/* style the footer */
footer{
    height: 40px;
    background-color: rgb(129,141,179);
    text-align: center;
    padding-top: 20px;
    color:rgb(211,218,240)
}
